.tarjetaDos {
    width: 99%;
    height: auto;
    align-items: center;
    border: 3px solid darkgoldenrod;
    margin:5px;
}

.imagenProducto {
    height: 100%;
 width: 100%;
 object-fit: contain;
 height:150px;
 width: 150px;
 align-items: center;
 margin-top: 3px;
}

.detalles {
    margin-bottom: 5px;
}

.botonCarrito {
    margin:2px;
}
