.App {
  text-align: center;
  background-color: #312808;
}

.App-header {
  background-color: #6e5911;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  background-color: #4a791e;
  padding-bottom: 10px;
  min-height:100vh;
}

.lista {
  font-size: 2.4rem;
  color: white;
}

.App-footer {
  background-color: #f3971e;
}