.masymenos {
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
}

.recuadroSimbolo {
    color: white;
}

.recuadroNumero {
    background-color: white;
    width: 60px;
}
